.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(163, 187, 201);
}

td {
  background-color: rgb(180, 189, 196);
}

/* form {
  display: flex;
  gap: 5px;
} */

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
