.history-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.history-body {
  background-color: rgb(137, 209, 209);
  padding: 5rem;
  border-radius: 10px;
  height: 400px;
  width: auto;
  overflow: auto;
  position: relative;
}

h2 {
  margin-top: -4rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
