.container {
  background-color: rgb(233, 241, 213);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: 0 0 10px 8px #c4c3c3;
}

.header-left {
  display: flex;
  align-items: center;
}

img {
  width: 5em;
}

h2 {
  color: white;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
li {
  padding: 1em;
}
a {
  text-decoration: none;
  color: black;
}
